<section id="schedulesection"> 
    <div class="container-fluid">
        <div class="row">
            <div class="col ps-0 pe-0">
                <img src="../../../assets/images/honolulu.jpg" alt="place">
            </div>
            <div class="col-12 col-lg-6 pt-2 pb-2 align-self-center">
                <h2>Honolulu - Octubre 2025</h2>
                <p>Honolulu o Honolulú es la capital y localidad más grande del 		estado de Hawái, en los Estados Unidos. Honolulu es la más sureña de entre las principales ciudades estadounidenses. Aunque el nombre de Honolulu se refiere al área urbana en la costa sureste de la isla de Oahu, la ciudad y el condado de Honolulu han formado una ciudad-condado consolidada que cubre toda la isla (aproximadamente 600 km² de superficie).</p>
                <a href="https://es.wikipedia.org/wiki/Honolulu" class="btn btn-outline-light">Conoce más</a>
            </div>
        </div>
    </div>
</section>