.text-platzi{
 color: #97c93e !important;   
}

#header img{
    width: 80px;
}

#header a{
    text-decoration: none;
}
.btn-platzi{
    color: white;
    background-color: #97c93e;   
}

.btn-platzi:hover{
    background-color: #82ad36;
}
