<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="header">
  <div class="container">
      <a href="#" style="color: white;">
          <img src="../../../assets/images/platzi-logo.png" alt="logo">&nbsp; Conf Hawaii
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">La conferencia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Los oradores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">El lugar y fecha</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Conviertete en orador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-platzi" href="#">Compra de tickets</a>
        </li>
      </ul>
    </div>
  </div>
</nav>