<section id="speakers" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col text-center text-uppercase">
                <small>Conoce a los</small>
                <h2>Oradores</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn" src="../../../assets/speakers/sacha.jpg" alt="">
                    <div class="card-body">
                        <div class="row" id="abilities">
                            <div class="abilities mb-2"><span class="badge bg-primary"><i class="fab fa-bootstrap"></i>&nbsp;Bootstrap</span></div>
                            <div class="abilities mb-2"><span class="badge bg-warning"><i class="fab fa-js"></i>&nbsp;JavaScript</span></div>
                            <div class="abilities mb-2"><span class="badge bg-primary"><i class="fab fa-react"></i>&nbsp;React</span></div>
                        </div>  
                        <h5 class="card-title">Sacha Lifszyc</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </p>
                        <div id="social-card" class="row text-center">
                            <div class="col-sm-3"><i class="fab fa-facebook fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-twitter fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-instagram fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-spotify fa-2x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn" src="https://static.platzi.com/media/teachers/Italo-Morales.png" alt="">
                    <div class="card-body">
                        <div class="row" id="abilities">
                            <div class="abilities mb-2"><span class="badge bg-warning"><i class="fab fa-laravel"></i>&nbsp;Laravel</span></div>
                            <div class="abilities mb-2"><span class="badge bg-primary"><i class="fab fa-php"></i>&nbsp;PHP</span></div>
                            <div class="abilities mb-2"><span class="badge bg-success"><i class="fab fa-vuejs"></i>&nbsp;VueJs</span></div>
                        </div>
                        <h5 class="card-title">Italo Morales F</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </p>
                        <div id="social-card" class="row text-center">
                            <div class="col-sm-3"><i class="fab fa-facebook fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-twitter fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-instagram fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-spotify fa-2x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn" src="https://static.platzi.com/media/teachers/perfil-Nicole-Chapaval.png" alt="">
                    <div class="card-body">
                        <div class="row" id="abilities">
                            <div class="abilities mb-2"><span class="badge bg-primary"><i class="fab fa-linkedin"></i>&nbsp;HHRR</span></div>
                            <div class="abilities mb-2"><span class="badge bg-warning"><i class="fas fa-rocket"></i>&nbsp;StartUp</span></div>
                            <div class="abilities mb-2"><span class="badge bg-danger"><i class="fas fa-life-ring"></i>&nbsp;Support</span></div>
                        </div>
                        <h5 class="card-title">Nicole Chapaval</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </p>
                        <div id="social-card" class="row text-center">
                            <div class="col-sm-3"><i class="fab fa-facebook fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-twitter fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-instagram fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-spotify fa-2x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn" src="https://sg.com.mx/sgvirtual/images/speakers/david-aroesti.jpg" alt="">
                    <div class="card-body">
                        <div class="row" id="abilities">
                            <div class="abilities mb-2"><span class="badge bg-warning"><i class="fab fa-gitlab"></i>&nbsp;DevOps</span></div>
                            <div class="abilities mb-2"><span class="badge bg-secondary"><i class="fab fa-google"></i>&nbsp;Cloud Eng</span></div>
                            <div class="abilities mb-2"><span class="badge bg-primary"><i class="fab fa-python"></i>&nbsp;Python</span></div>
                        </div>
                        <h5 class="card-title">David Aroesti </h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </p>
                        <div id="social-card" class="row text-center">
                            <div class="col-sm-3"><i class="fab fa-facebook fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-twitter fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-instagram fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-spotify fa-2x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn" src="../../../assets/speakers/nicolas_m.png" alt="">
                    <div class="card-body">
                        <div class="row" id="abilities">
                            <div class="abilities mb-2"><span class="badge bg-danger"><i class="fab fa-angular"></i>&nbsp;Angular</span></div>
                            <div class="abilities mb-2"><span class="badge bg-secondary"><i class="fab fa-google"></i>&nbsp;DevExpert</span></div>
                            <div class="abilities mb-2"><span class="badge bg-success"><i class="fas fa-database"></i>&nbsp;MongoDB</span></div>
                        </div>
                        <h5 class="card-title">Nicolas Molina</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </p>
                        <div id="social-card" class="row text-center">
                            <div class="col-sm-3"><i class="fab fa-facebook fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-twitter fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-instagram fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-spotify fa-2x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top animate__animated animate__fadeIn" src="../../../assets/speakers/oscar_b.png" alt="">
                    <div class="card-body">
                        <div class="row" id="abilities">
                            <div class="abilities mb-2"><span class="badge bg-primary"><i class="fab fa-react"></i>&nbsp;React</span></div>
                            <div class="abilities mb-2"><span class="badge bg-warning"><i class="fab fa-js"></i>&nbsp;JavaScript</span></div>
                            <div class="abilities mb-2"><span class="badge bg-success"><i class="fab fa-node-js"></i>&nbsp;NodeJs</span></div>
                        </div>
                        <h5 class="card-title">Oscar Barajas</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint tempore a, repudiandae odit asperiores ab animi aliquid numquam eos at. Accusamus exercitationem dignissimos harum fuga. </p>
                        <div id="social-card" class="row text-center">
                            <div class="col-sm-3"><i class="fab fa-facebook fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-twitter fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-instagram fa-2x"></i></div>
                            <div class="col-sm-3"><i class="fab fa-spotify fa-2x"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>